In [7]:
import pandas as pd
import psycopg2
import sqlalchemy

In [43]:
df = pd.read_csv("yellow_tripdata_2021-01.csv", nrows = 100)

In [44]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [45]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [46]:
from sqlalchemy import create_engine

In [47]:
engine = create_engine("postgresql://postgres:postgres@localhost:5432/ny_taxi")

In [48]:
print(pd.io.sql.get_schema(df, name = "yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [49]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000, low_memory=False)

In [50]:
df = next(df_iter)

In [51]:
len(df)

100000

In [52]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [53]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [54]:
df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists = "replace")

0

In [55]:
%time df.to_sql(name="yellow_taxi_data", con=engine, if_exists = "append")

CPU times: total: 2.12 s
Wall time: 10.6 s

1000

In [56]:
from time import time

In [57]:
while True:
    t_start = time()
    
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists = "append")

    t_end = time()
    print("Inserted next chunk...., took %.2f seconds" %(t_start - t_end))

Inserted next chunk...., took -10.03 seconds
Inserted next chunk...., took -10.23 seconds
Inserted next chunk...., took -10.07 seconds
Inserted next chunk...., took -10.26 seconds
Inserted next chunk...., took -9.98 seconds
Inserted next chunk...., took -9.69 seconds
Inserted next chunk...., took -9.96 seconds
Inserted next chunk...., took -10.26 seconds
Inserted next chunk...., took -10.41 seconds
Inserted next chunk...., took -10.28 seconds
Inserted next chunk...., took -10.08 seconds
Inserted next chunk...., took -10.65 seconds
Inserted next chunk...., took -6.70 seconds

StopIteration:

In [11]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')
engine.connect()

!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

'wget' is not recognized as an internal or external command,
operable program or batch file.

In [12]:
df_zones = pd.read_csv("taxi_zone_lookup.csv")
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265